html, body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    color:#444;
}
.navbar-default {
	background-color: #6ba4e8;
  /*border-color: #4e7bb1;*/
}
.navbar-default .navbar-brand {
	color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #a7c2e2;
}
.navbar-default .navbar-text {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #a7c2e2;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
 	color: #a7c2e2;
 	background-color: #4e7bb1;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #a7c2e2;
	background-color: #4e7bb1;
}
.navbar-default .navbar-toggle {
	border-color: #4e7bb1;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #4e7bb1;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,.navbar-default .navbar-form {
	border-color: #ecf0f1;
}
.navbar-default .navbar-link {
	color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
	color: #a7c2e2;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ecf0f1;
  }
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #a7c2e2;
  }
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #a7c2e2;
		background-color: #4e7bb1;
  }
}
.navbar{
	border-bottom-width: 0px;
    margin-bottom: 0px;
}

.navbar-brand img{
	margin: -10px -5px;
}

section {
    padding-top:10px;
    padding-bottom:80px;
}
.pad-bottom {
    padding-bottom:40px;
}

/* =============================================================
  HOME SECTION STYLES
 ============================================================ */

#home-sec {
    background: url(../img/estatistica.jpg) no-repeat center center;
    padding: 0px;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    min-height: 300px;
    color: #fff;
}

    #home-sec .overlay {
        background-color: rgba(0, 0, 0, 0.75);
        min-height:500px;
    }

    #home-sec h1 {
        line-height: 60px;
        font-size: 45px;
        font-weight: 900;
        padding-top:80px;
        margin-top: 30px;
    	margin-bottom: 0px;
    }

#home-sec p {
    line-height: 30px;
    color: #E0E0E0;
    font-size: 16px;
}
#home-se .container{
	margin-top: 58px;
}

.col-md-8 .center-block{
	padding-top: 100px;
	margin-top: 30px;
}
#nome{
	margin-top: 40px;
	background: rgba(255,255,255,0.2);
	border-radius: 5px;

}

/* =============================================================
  FEATURES SECTION STYLES
 ============================================================ */
#features-sec p {
        font-size: 20px;
        line-height: 35px;
}

 
/* =============================================================
  ABOUT SECTION STYLES
 ============================================================ */
#about-sec {
    background-color: rgba(107,164,232,0.2);
    margin-top: 20px;
}
#about-sec img {
    max-height:150px;
    padding-bottom:10px;
}
/* =============================================================
  DESCRIPTION SECTION STYLES
 ============================================================ */
    #description-sec p {
        font-size: 20px;
        line-height: 35px;
    }
/* =============================================================
  CONTACT SECTION STYLES
 ============================================================ */
#contact-sec {
	background: url(../img/estatistica.jpg) no-repeat center center;
    padding: 0px;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    min-height: 300px;
    color: #fff;
}

#contact-sec .overlay2{
	background-color: rgba(0, 0, 0, 0.75);
}
/* =============================================================
  FOOTER SECTION STYLES
 ============================================================ */
footer {
    padding: 20px;
    font-size: 15px;
}

footer a, footer a:hover {
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
}
